.post_container {
    text-align: center;
    margin: 0 auto;
}
.post_container img {
    max-width: 1000px;
    max-height: 450px;
    border-radius: 3px; 
}
.post_container h3 {
    margin-top: 1.3em;
    margin-bottom: .5em;
}
.post_container p {
    margin-top: 2em;
}

.bodyPost {
    overflow-wrap: break-word; 
    width: 45%;
    margin: 0 auto;
  }

@media (max-width: 800px) {
    
    .post_container img {
      max-width: 300px;
        height: auto;
    }
    .post_container p {
        margin-top: 1em;
        font-size: .95em;
    }
    .bodyPost {
        overflow-wrap: break-word; 
        width: 72%;
        margin: 0 auto;
      }
    
}

