.post_container {
    text-align: center;
}
.post_container img {
    max-width: 1000px;
    max-height: 450px;
    border-radius: 3px; 
}
.post_container h3 {
    
    margin-top: 2em;
    margin-bottom: .3em;
}
.post_container .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 2em;
}

.tags p {
    margin-right: .6em;
}

.tags span {
    font-weight: bold;
}

@media (max-width: 800px) {
    
    .post_container img {
      max-width: 250px;
        height: auto;
    }
    .post_container p {
        margin-top: 1em;
        font-size: .95em;
    }
}

