.post_container {
    text-align: center;
}
.post_container img {
    max-width: 1000px;
    max-height: 450px;
    border-radius: 3px; 
}
.post_container h3 {
    margin-bottom: .2em;
}
.post_container .tags {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.tags p {
    margin-right: 2em;
}

.tags span {
    font-weight: bold;
}

@media (max-width: 800px) {
    
    .post_container img {
      max-width: 300px;
        height: auto;
    }
}
