.register {
    text-align: center;
}

.register p {
    color: #aaa;
}

@media (max-width: 800px) {
    .register h1 {
        font-size: 1.2em;
    }
    .register p {
        font-size: .8em;
        
    }
}
